body > .container {
  padding-bottom: 50px; }

.navigation {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0px; }
  .navigation .navbar-header h3 {
    margin: 0px 20px 0px 0px;
    line-height: 45px; }
  .navigation .navbar-right:last-child {
    margin-right: 0px; }
  .navigation .navbar-nav li a {
    color: #aaaaaa; }
    .navigation .navbar-nav li a:hover {
      color: #313131; }
    .navigation .navbar-nav li a .badge {
      border-radius: 4px;
      background-color: #e0e0e0;
      color: #aaaaaa; }
  .navigation .navbar-nav li.active a {
    background-color: transparent;
    font-weight: bold;
    color: #313131; }
  .navigation .navbar-nav li.notifications-dropdown {
    cursor: pointer; }
    .navigation .navbar-nav li.notifications-dropdown.open a {
      background-color: transparent; }
    .navigation .navbar-nav li.notifications-dropdown ul {
      width: 250px;
      left: 50%;
      margin-top: 10px;
      margin-left: -125px;
      border-radius: 0px;
      border-color: #aaaaaa; }
      .navigation .navbar-nav li.notifications-dropdown ul li:first-child {
        height: 0px;
        margin-top: -5px; }
        .navigation .navbar-nav li.notifications-dropdown ul li:first-child .up-arrow {
          position: relative; }
        .navigation .navbar-nav li.notifications-dropdown ul li:first-child .up-arrow:after, .navigation .navbar-nav li.notifications-dropdown ul li:first-child .up-arrow:before {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none; }
        .navigation .navbar-nav li.notifications-dropdown ul li:first-child .up-arrow:after {
          border-color: transparent;
          border-bottom-color: #fefefe;
          border-width: 12px;
          margin-left: -12px; }
        .navigation .navbar-nav li.notifications-dropdown ul li:first-child .up-arrow:before {
          border-color: transparent;
          border-bottom-color: #aaaaaa;
          border-width: 14px;
          margin-left: -14px; }
      .navigation .navbar-nav li.notifications-dropdown ul li:last-child a {
        border-bottom: 0px; }
      .navigation .navbar-nav li.notifications-dropdown ul li.no-notifications h4 {
        text-align: center;
        margin: 20px 0px; }
      .navigation .navbar-nav li.notifications-dropdown ul li a {
        white-space: initial;
        border-bottom: 1px solid #e0e0e0;
        padding: 5px 20px; }

.highlight {
  background-color: all 10s linear;
  -webkit-transition: all 10s linear;
  background-color: rgba(255, 255, 0, 0.1); }

.messages {
  position: fixed;
  z-index: 5;
  background-color: #fefefe;
  padding: 10px;
  margin-top: 10px; }
  .messages .close-messages {
    margin: 5px 10px; }
  .messages .alert:last-child {
    margin-bottom: 0px; }

.dashboard-header {
  background-color: #e0e0e0;
  text-align: center; }
  .dashboard-header p {
    margin-top: 40px;
    margin-bottom: 0px; }

.user-header {
  background-color: #313131;
  color: #00b33d;
  text-align: center; }
  .user-header h1 {
    margin-top: 0px; }

.capture {
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 5px; }

.you-are-awesome-wrapper {
  border-color: #aaaaaa; }
  .you-are-awesome-wrapper .group-member-name {
    margin-top: 0px; }
    .you-are-awesome-wrapper .group-member-name .badge {
      font-size: 30%; }
  .you-are-awesome-wrapper .you-are-awesome-btn {
    margin-top: 5px;
    cursor: pointer; }
  .you-are-awesome-wrapper .you-are-awesome-form {
    position: absolute;
    background-color: white;
    left: -1px;
    right: -1px;
    top: 100%;
    padding: 5px 15px;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: #aaaaaa;
    margin-top: -5px;
    z-index: 2; }

a {
  text-decoration: none;
  color: inherit; }

.list-badge-wrapper {
  position: relative;
  padding: 10px 5px 10px 0px; }
  .list-badge-wrapper .list-badge-action a:last-child {
    color: #00b33d; }

.user-stats {
  text-align: center; }
  .user-stats h3, .user-stats li {
    text-align: left; }
  .user-stats .awesomeness-points,
  .user-stats .awesomeness-achievements {
    font-size: 3em;
    color: #00b33d; }

blockquote {
  margin-bottom: 0px; }

blockquote.text-muted p {
  text-decoration: line-through; }

.authentication-form label {
  width: 150px;
  text-align: right;
  padding-right: 10px; }
.authentication-form input {
  width: 150px; }
.authentication-form p {
  width: 310px; }
.authentication-form input[type="submit"] {
  float: right;
  margin-right: 5px; }

.amount-comments {
  padding: 10px 5px;
  text-align: right; }

.badge-comment-wrapper {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px; }
  .badge-comment-wrapper .comment-list-wrapper {
    margin: 10px 0px 10px -15px;
    padding-left: 15px;
    border-left: 2px solid #313131; }
    .badge-comment-wrapper .comment-list-wrapper .comment-date {
      text-align: right;
      font-size: 80%; }
    .badge-comment-wrapper .comment-list-wrapper blockquote {
      margin-bottom: 0px; }
    .badge-comment-wrapper .comment-list-wrapper .row {
      padding: 10px 0px; }
