<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/bin/reset.css") }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="vendors/bootstrap/dist/css/bootstrap.min.css") }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/bin/style.css") }}" />
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li><a class="btn btn-primary" href="/login">Login</a></li>
					<li><a href="/register">Register</a></li>
				</ul>

				<h3 class="text-muted">Well Done!</h3>
			</div>

			<div class="jumbotron">
				<h1> That was a good job. <h1>
				<p>
					Just say it and share the praise.
					Eric will feel better.
				</p>
				<a class="btn btn-primary" role="button" href="/register">
					Register
				</a>
			</div>
		</div>
	</body>
</html>