{% import 'snippets/badge-list.html' as list_badges with context %}
<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/bin/reset.css") }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="vendors/bootstrap/dist/css/bootstrap.min.css") }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/bin/style.css") }}" />
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li><a class="btn btn-primary" href="/dashboard">Dashboard</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>

				<h3 class="text-muted">
					Well Done!
					<small> {{ current_user.name }} </small>
				</h3>
			</div>

			{% if messages.success or messages.failure %}
				<div class="col-md-4 messages">
					<button type="button" class="close close-messages" data-dismiss="alert" aria-hidden="true">&times;</button>

					{% for m in messages.success %}
						<div class="alert alert-success">
							{{ m }}
						</div>
					{% endfor %}
					{% for m in messages.failure %}
						<div class="alert alert-danger">
							{{ m }}
						</div>
					{% endfor %}
				</div>
			{% endif %}

			<div class="jumbotron user-header">
				<h1>{{ user.name }}</h1>
			</div>

			<div>
				<div class="col-md-8">
					{{ list_badges.from(user) }}
				</div>
				<div class="col-md-4">
					<h3 class="capture">
						That was awesome!
					</h3>
					<form role="form" method="POST" action="{{ url_for('.give_badge') }}">
						<input type="hidden" name="receiver" value="{{ user.id }}" />
						<div class="form-group">
							<label for="badge-what-happend">What happend?</label>
							<textarea 
								class="form-control" 
								id="badge-what-happend" 
								placeholder="Why?"
								name="title"
							></textarea>
						</div>
						<button type="submit" class="btn btn-default pull-right">Submit</button>
					</form>
				</div>
			</div>

		<script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}">
		</script>
		<script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}">
		</script>
	</body>
</html>